.idea
dist/*
node_modules
npm-debug.log
.vscode
*.swo
*.swp
.DS_Store
.env
scripts/*
package-lock.json
tags
.undodir

!./db/.keep
!./test/db/.keep
!./test/logs/.keep

./db/*
./test/db/*
./test/logs/*

yarn.lock
yarn-error.log
